@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Work Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0 auto;
  max-width: 140rem;
}

.app {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;

}

.header {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 2rem 2rem;
}

.header__title {
  display: flex;
  align-items: center;
  gap: .5em;
}

.header h2 {
  font-size: 2.8rem;
  text-transform: uppercase;
}

.header p {
  font-size: 1.8rem;
}

.header button {
  font-size: 1.8rem;
}

.button {
  font-size: 1.6rem;
  padding: .8rem 1.6rem;
  background-color: #f1c40f;
  cursor: pointer;
  border: none;
  font-weight: 600;
  text-align: center;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.801);
  font-family: 'Work Sans', sans-serif;
}
.button:active {
  transform: translate(2px, 2px);
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.801);
}

.note-list{
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  background-color: black;
  list-style: none;
  border-radius: 5px;
}

.note-item {
  position: relative;
  width: 300px;
  height: auto;
  padding: 1.2rem 1rem 2rem 1rem;
  background-color: #f1c40f;
  color: black;
  resize: both;
}

.note-item h3 {
  font-size: 1.6rem;
}

.note-item p {
  font-size: 1.4rem;
  padding-top: .5em;
}

.note-item__delete {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 3.2rem;
  color: #242424;
  padding: 0 0.8rem;
  transform: translateY(2px);
}

.note-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.6rem;
  color: white;
  background-color: #242424;
}

label {
  font-weight: 500;
}

select, input, textarea {
  background-color: white;
  color: #242424;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  padding: .5rem 1.2rem;
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: .8rem;
}

.note-form__select {
  cursor: pointer;
  outline: none;
  border: none;
}

.note-form__select div{
  cursor: pointer;
}

.note-form input {
  font-size: 1.4rem;  
}

.note-form__content {
  text-align: start;
  min-height: 10rem;
}

.note-form__actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  padding: 1.4rem 0;
}